{% extends "base.html" %}
{% load app_buttons %}
{% load static %}

{% block title %}
- {{ author_name }}
{% endblock %}
    
{% block more_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}apps/css/app_button.css"/>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ author_name }}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 style="margin-bottom: 1em;">Apps</h2>
    </div>
</div>

<div class="row" style="margin:5px;">
    <div class="col-lg-12" style="margin-top:10px;">
        {% app_buttons apps releases %}
    </div>
</div>
{% endblock %}
