{% load static %}
{% load title_modified %}
<div class="box-part app_button d-flex align-items-stretch"
        order_index="{{ order_index }}"
        Bundle_Name="{{ app.Bundle_Name }}"
        downloads="{{ total_download }}"
        created="{{ release.created_iso|date:'j M, H:i:s' }}"
        curated_category="{{ curated_categories }}"
        onClick="window.location='{% url 'app_page' app.Bundle_SymbolicName %}';">
        <div class = "card-inside">
          <div class="mb-2 curated-category">
              <p class="tile-legend head_cc"></p>
          </div>
          <div class="card-header">
              <img src="{{ release.logo_url }}" class="app-logo">
              <h5 class="app-button-title mb-0">{{ app.Bundle_Name | truncatechars:40 }}</h5>
          </div>
          {% if release.authors.all|get_authors != '' %}
              <p class="authored mt-2 mb-2"> by {{ release.authors.all|get_authors }}</p>
          {% endif %}
          {% if release.short_title %}
              <p class="desc-spaced">{{ release.short_title}}</p>
          {% endif %}
          {% if not release.short_title %}
              <h6 class="desc-box small-visible" style="visibility: hidden;">No Description</h6>
          {% endif %}
        </div>
</div>
