body {
    font-family: 'Inter', sans-serif!important;
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 700px) {
    .container{
        max-width: 95%;

    }
    .app-tile-col {
        min-width: 100%;
    }
}

@media (min-width: 901px) {
    .container{
        max-width: 95%;
    }
    .app-tile-col {
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

@media (min-width: 1600px) {
    .container{
        max-width: 65%;
    }
    .app-tile-col {
        min-width: 33.33%;
        max-width: 33.33%;
    }
}

.sub-header {
    font-style: italic;
}

.orange {
     border-top: 1px solid orange;
}

.submit-app {
    width: 50%;
    font-size: 20px;
}

.login {
    font-size: 30px;
}

.cm-10 {
    margin-left: -10px;
}

.cat-desc {
    color: grey;
    font-weight: strong;

}
