.title {
    color: #5a5a5a;
    font-weight: 400;
}

.nav-size {
    font-size: 18px;
}

.has-search .form-control {
    background: #f0f0f0;
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 4;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}