{% extends "base.html" %}
{% load static %}

{% block title %}- Submission Done!{% endblock %}

{% block content %}
<div class="col-md-12">
    <h1>
        Congratulations - you did it!
    </h1>
    <br/>
    <p>Thank you for contributing your App <b>{{  app_name }}</b> to the IGB App Store. You're the best!</p>
    <br/>
    <h1>What's next?</h1>
    <br>
    <p>
        First, we will try out your App. If we notice any problems, we will let you know what to
        do next.
    </p>
    <p>
        But if everything looks good, we will go ahead and release your App. At that point, your App will appear in App
        Store, and it will also appear in IGB's App Manager user interface. IGB users everywhere will be able to
        install your App and use it. Yay!
    </p>
    <p>
        Once your App is released, it will get its own dedicated page within IGB App Store. You will be
        able to customize your App's page by uploading a logo, adding a short description, adding other users
        as editors, adding authors, etc. Also, if you need to release a new version of your App, you can do it
        right away without waiting for us to review it.
    </p>
    <p>
        In the meantime, please check your email for updates.
    </p>
    <p>
        And if you do not hear from us within a week or less, please feel free to get in touch. Contact
        Ann Loraine (aloraine@uncc.edu) or post to the
        <a href="https://groups.google.com/forum/#!forum/igb-app-developers">IGB App Developer list</a>.
    </p>
</div>
{% endblock %}
    
