{% extends "base.html" %}
{% load static %}

{% block title %} - Add Apps to IGB {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h4>{{ app_bundle_symbolic_name | title }} has been updated !</h4>
        <hr />
        <h6> What to do next:</h6>
        <span>
	<ul>
            <li>Go to your app using the link below and do the changes (if required.)</li>
            <li>You can check if the latest release was uploaded.</li>
            <li>Submit another app / Go to homepage</li>
	</ul>
        </span>
        <hr />
        <a href="/apps/{{ app_bundle_symbolic_name }}"><button class="btn btn-success"> Go to your App </button></a>
        <a href="/apps/{{ app_bundle_symbolic_name }}/#app-releases"><button class="btn btn-danger"> Check Releases </button></a>
        <a href="/"><button class="btn btn-primary"> Go to Home Page </button></a>
    </div>
</div>
{% endblock %}
