{% extends "base.html" %}
{% load static %}

{% block more_head %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="{% get_static_prefix %}download/js/codes2names.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}download/js/app_stats.js"></script>
{% endblock %}

{% block title %} - {{ app.Bundle_Name }} - Download Statistics {% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>
        {{ app.Bundle_Name }}
        <small class="text-muted">Download Statistics</small>
      </h2>
      <h4 class="strong">Total downloads: {{ total_download }}</h4>
      <hr/>
        <a href="{% url 'download-timeline-csv' app.Bundle_SymbolicName %}" class="btn btn-success {% if total_download == 0 %} disabled {% endif %}"  role="button" aria-disabled="true" style="margin-top:5px;">
            <strong><i class="fa fa-download" style="color:white;"></i> &nbsp;&nbsp;Save as CSV</strong>
        </a>
    </div>
  </div>
</div>
{% endblock %}
